{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% block h1 %}
{% trans "Mot de passe ou nom d'utilisateur oublié ?" %}	
{% endblock %}
{% endblock %}

{% block content %}

<h2>{% trans "J'ai oublié mon mot de passe" %}</h2>
<p>{% trans "Saisissez ci-dessous l'adresse email renseignée dans votre compte Engage et nous vous enverrons votre identifiant (ou pseudo) ainsi que les instructions pour réinitialiser votre mot de passe" %}.</p>

<form action="" method="post" class="form-stacked">{% csrf_token %}
    {{ form.email.errors }}
    <div class="clearfix">
    	<label for="id_email">E-mail :</label>
    	<div class="input">
    		{{ form.email }} <input type="submit" class='btn primary' value="{% trans "Envoyer" %}" />
    	</div>
    </div>
</form>

<p>
	<br>
	<br>
	<br>
</p>

<h2>{% trans "J'ai oublié mon identifiant de connexion" %}</h2>
	{% trans "Saisissez votre nom/prénom, nous vous afficherons votre identifiant de connexion" %} : 
	<br> &nbsp;
	<form action="" method="post" class="form-stacked">{% csrf_token %}
	    <div class="clearfix">
	    	<div style="overflow:hidden;">
	    		<div class="pull-left">
	    			<label for="id_last_name">Nom</label>
			    	<div class="input">
			    		<input type="text" id="id_last_name" name="last_name" />
			    	</div>
	    		</div>
	    		
	    		<div class="pull-left">
	    			<label for="id_first_name">Prénom</label>
			    	<div class="input">
			    		<input type="text" id="id_first_name" name="first_name" />
			    	</div>
	    		</div>
	    		
	    		<div class="pull-left">
	    			<label>&nbsp;</label>
			    	<div class="input">
			    		<input type="button" class='btn' id="do_search" value="{% trans "Rechercher" %}" />
			    	</div>
	    		</div>
	    	</div>
	    	<br>
	    	<div id="result_div"></div>
	    </div>
	</form>

	<p>
		<br>
		<br>
		<br>
		<br>
	</p>
{% endblock %}


{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
	$('#do_search').click(function(){
		url = '{% url json_licencie_search %}';
		last_name = $("#id_last_name").val(), 
		first_name = $("#id_first_name").val()
		args = {
			last_name: last_name,
			first_name: first_name
		}

		if(last_name && first_name){
			$.get(url, args, function(data) {
				if (data.length == 0){
					$("#result_div").html("<div class='alert-message block-message error'>Aucun résultat</div>");
				}else{
					$("#result_div").html("");
				}
				$.each(data, function() {
				    $("#result_div").append(this.caption + "<br> Identifiant : <b>" + this.value + "</b><br>Adresse email (cachée volontairement) : <b>" + this.email + "</b><br><br>");
				});
			}, "json");
		}else{
			$("#result_div").html("<div class='alert-message block-message error'>Merci de renseigner votre nom et votre prénom</div>");
		}

	})
});

</script>
{% endblock extrahead %}

