{% extends "accounts/base_edit_licencie.html" %}
{% load i18n %}

{% block acc_menu_7 %}class='active'{% endblock %}

{% block title %}{% trans 'Modification de votre mot de passe' %}{% endblock %}

{% block main_content %}

{% comment %}
	
<p class='messages'>{% trans "Pour des raisons de sécurité, veuillez entrer votre ancien mot de passe puis saisissez deux fois votre nouveau mot de passe afin que nous puissions vérifier que vous l'avez tapé correctement." %}</p>
{% endcomment %}

<br/>
<form action="" method="post" class='form-stacked'>{% csrf_token %}
	{% for field in form %}
		<div class='clearfix {% if field.errors %}error{% endif %}'>
			{{ field.label_tag }}
			<div class='input'>
				{{ field }}
			</div>
		</div>
	{% endfor %}
	<div class='actions'>
		<input type="submit" class='btn primary' value="{% trans 'Modifier mon mot de passe' %}" />
		
	</div>
</form>

{% endblock %}