{% extends "base.html" %}
{% load i18n %}




{% block content %}
<h1>{% trans "Register" %}</h1>
<p><br></p>
<form action=".?invitation_key={{ request.GET.invitation_key}}" method="POST" class="form-horizontal">{% csrf_token %}
	{% for field in form %}
		<div class="control-group {% if field.errors %}error{% endif %}">
			<label for="{{ field.auto_id }}" class='control-label'>{{ field.label }}</label>
			<div class="controls">
				{{ field }}
				{% if field.help_text %}
					<span class="help-inline">{{ field.help_text }}</span>
				{% endif %}
				{{ field.errors }}
			</div>
		</div>
	{% endfor %}
	<div class="form-actions">
		<input type="submit" value="Register" class='btn btn-large' />
	</div>
</form>

{% endblock %}