Django==1.4.3
Pillow
django-registration==0.8
django-reversion==1.6.5
wsgiref==0.1.2
lxml==2.3.4
https://bitbucket.org/m_clement/djnext/get/34b0e16214c5.tar.gz#egg=djnext
https://github.com/magopian/django-inspect-model/zipball/7d139b8fc8975cc42cd95fce2242f6b3e59db5c3#egg=inspect_model
https://github.com/guzru/django-avatar/zipball/cd7401dc4fa6519a62c4f8e6b3cb688c77738f51#egg=avatar
https://bitbucket.org/m_clement/django-units/get/754458f54cc8.tar.gz
https://bitbucket.org/amenasse/django-current-user/get/7c3c90c8f5e8.zip
# mysql-python
django-guardian==1.0.4