{% extends "stocks/base.html" %}
{% load i18n %}


{% block content %}
    
    <div class="well lead">
        <h2>Nouveau !! <small>Tu peux désormais gérer tes stocks sur Zython.</small></h2>
        <hr>
        <h3>Comment ça fonctionne ?</h3>
        <ol>
            <li>Saisis ton stock à partir de cette page</li>
            <li>Dans ta recette, tu retrouveras en premier tes ingrédients, avec les quantités limitées</li>
            <li>Et quand tu rachètes du stock, tu retournes au point 1</li>
        </ol>
        <hr>
        <h3>Ou acheter du bon stock ?</h3>
        <p>
            A l'endroit même ou se vend du bon stock ! <br>
            Ne comptes pas sur moi pour faire de la pub ici.
        </p>
    </div>
  
{% endblock content %}


