{% extends "invitation/base.html" %}
{% load i18n %}

{% block invitation_content %}

<h2>{% trans "Invite a friend" %}</h2>

{% if remaining_invitations == 0 %}
<p>{% trans "You currently have no invitations to send." %}</p>
{% else %}

<form action="{% url invitation_invite %}" method="POST" class="form-vertical">{% csrf_token %}
    <div class="alert alert-info">
        {% blocktrans %}You will need an invitation to register on BeerToBeer for the moment. <br>To send an invitation to a friend, you can write his/her email adress below.{% endblocktrans %}  <br>
        <b>{% trans "Remaining invitations" %} :   {{ remaining_invitations }}</b>
    </div> 

    {% for field in form %}
        <div class="control-group {% if field.errors %}error{% endif %}">
            <label for="{{ field.auto_id }}" class='control-label'>{{ field.label }}</label>
            <div class="controls">
                {{ field }}
                {% if field.help_text %}
                    <span class="help-inline">{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}

            </div>
            <input type="submit" class='btn' value="{% trans "Send Invitation" %}" />
        </div>
    {% endfor %}
</form>
{% endif %}

{% endblock %}