{% extends "inventory/base.html" %}
{% load i18n %}


{% block content %}
    
    <div class="well lead">
        <h2>Nouveau !! <small>Vous pouvez désormais gérer vos stocks sur Zython.</small></h2>
        <hr>
        <h3>Comment ça fonctionne ?</h3>
        <ul>
            <li>Saisissez votre stock à partir de cette page</li>
            <li>Dans votre recette, passez en mode "Stock"</li>
            <li>Quand vous ajouterez des ingrédients, la liste sera limitée à vos stocks</li>
        </ul>
    </div>

  
{% endblock content %}


