{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Zython.me - {% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% trans "Zython helps homebrewer making their recipe. Create your account and start adding grain, hops, miscs, yeast. It's free and stable." %}">
  {# '</> #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Martyn CLEMENT" />
  <meta http-equiv="imagetoolbar" content="false" />
  <meta name="application-name" content="Zython.me" />
  <meta name="msapplication-tooltip" content="Zython : design your beer recipe online." />
  <meta name="msapplication-starturl" content="http://zython.me/?o=msstart" />
  <meta property="og:title" content="Zython.me" />
  <meta property="og:description" content="Zython is a web application that helps homebrewer to design their beer recipe. Free and opensource." />
  <meta property="og:image" content="{{ MEDIA_URL }}images/logo_100.png" />
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre:700' rel='stylesheet' type='text/css'>
  <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>
<form name='langform' style='margin:0px;display:inline;width:200px' action='/i18n/setlang/' method='POST'>{% csrf_token %}
  <input name='language' type="hidden" value="{{ LANGUAGE_CODE }}">
</form>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"><div class="row">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">
        Zython<span class="extension">.me</span> <br>
         <span class="baseline">{% trans "Design and share your beer recipe" %} </span>
      </a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            {% if request.user.is_active %}
              
            <li class="dropdown">
              <a class='dropdown-toggle' data-toggle="dropdown" href="#">
                <b>{% trans "Add a new recipe" %}</b>
            <b class="caret"></b>
          </a>
            <ul class="dropdown-menu">
              <li><a href="{% url brew_recipe_add %}">{% trans "Add a new recipe" %}</a></li>
              <li><a href="{% url brew_recipe_import %}">{% trans "Import recipe (BeerXML)" %}</a></li>
            </ul>
            </li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% get_language_info for LANGUAGE_CODE as lang %}
                {{ lang.name_local }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% for LANG in LANGUAGES  %}
                  <li><a href="#" onclick="document.langform.language.value='{{ LANG.0 }}';document.langform.submit();">{{ LANG.1 }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">
                    {% trans "Unit preferences" %}
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% for group in unit_menu %}
                  <li class="nav-header">{{ group.title }}</li>
                  {% for item in group.items %}
                    <li>
                      <a href="{% url unit_set group.key item.key %}">
                      {% if item.is_active %}<b>{% endif %}
                      {{ item.title }}
                      {% if item.is_active %}&larr;</b>{% endif %}
                      </a>
                    </li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </li>
            <li><a href="{% url how_it_works %}">{% trans "Formulas" %}</a></li>
            <li><a href="{% url brew_style_list %}">{% trans "Beer styles" %}</a></li>
            {% if request.user.is_anonymous %}
              <li>
                <a href="/accounts/login/?next={{ request.path }}">{% trans "Log in" %}</a>
              </li>
              <li>
                <a href="/accounts/register/">{% trans "Register" %}</a>
              </li>
            {% else %}            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                  data-toggle="dropdown">
                  {% if not request.user.get_full_name %}
                    {{ request.user.username }}
                  {% endif %}
                  {{ request.user.get_full_name }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url brew_recipe_user request.user.username %}">{% trans "My recipes" %}</a></li>
                <li><a href="{% url account_user_edit %}">{% trans "My account" %}</a></li>
                <li><a href="{% url avatar_change %}">{% trans "Change your avatar" %}</a></li>
                <li><a href="/accounts/logout/">{% trans "Log out" %}</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
    </div></div>
  </div>
</div>
  {% if request.get_full_path == "/" and request.user.is_anonymous %}
   <div id="welcome">
    <div class="content center">
      <h1>{% trans "Welcome to you brewer !" %}</h1>
      <p><br>{% trans "This is what Zython can do for you" %} :</p>
      <div style="margin:0 auto;width:730px; ">
        <div class="span3 center">
          {% blocktrans %}
          <b>Create public or private recipe</b> <br>
          Keep your recipe just for you  <br>or share it with the world
          {% endblocktrans %}
        </div>
        <div class="span3 center">
          {% blocktrans %}
          <b>Add ingredients from our base</b> <br>
           Grains, hops, misc, yeast. <br>Add also your custom ingredient
          {% endblocktrans %}
        </div>
        <div class="span3 center">
          {% blocktrans %}
          <b>Comment, share, print</b> <br>
           Simple tools to help you share, <br>print and comment your recipe
          {% endblocktrans %}
        </div>
        <div class="row"><br>&nbsp;<br></div>
        <br>&nbsp;
        <div class="span3 center">
          {% blocktrans %}
          <b>Your unit</b> <br>
          Lbs, kg, EBC, SRM, g, oz <br>
          No problem, Zython handles this
          {% endblocktrans %}
        </div>

        <div class="span3 center">
          {% blocktrans %}
          <b>Adapt for your equipement</b> <br>
          Specify deadspaces,  evaporation rate, 
          Zython will adapt your recipe
          {% endblocktrans %}
        </div>
        <div class="span3 center">
          {% blocktrans %}
          <b>BeerXml format</b> <br>
          You can import your recipe in <br>BeerXML format
          {% endblocktrans %}
        </div>
        <div class="row"></div>
        </div>
    </div>
   </div>
  {% endif %}
  <div class="container" id="main_page">
  <div class="row">
      {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
      {% endif %}
      {% block content %}{% endblock content %}
  </div><!--/row-->
  <footer class='center'>
    <p>
        <span class="badge ">Zython - V 1.2.0</span> <br>
        <a href="https://bitbucket.org/m_clement/zython" target="_blank">{% trans "Source code on Bitbucket" %}</a>
        /
        <a href="https://bitbucket.org/m_clement/zython/issues/new" target="_blank">{% trans "Report an issue / contribute" %}</a>
    <br>
      Made by 
      <a href="http://twitter.com/m_clement/">Martyn CLEMENT</a> in 2012 
      with <a href="https://www.djangoproject.com/">Django 1.4.3</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap 2.2.2</a>
    </p>
  </footer>
</div><!--/.fluid-container-->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image center"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>{% trans "Download" %}</span>
        </a>
    </div>
</div><!-- /#modal-gallery -->
<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.form.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-transition.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-alert.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-scrollspy.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-tab.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-popover.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-button.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-carousel.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-typeahead.js"></script>
<script src="{{ MEDIA_URL }}js/load-image.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.dataTables.min.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-image-gallery.min.js"></script>
<script type="text/javascript">
jQuery.extend(jQuery.fn.dataTableExt.oSort, {
    "percent-pre": function ( a ) {
        var x = (a == "-") ? 0 : a.replace( /%/, "" );
        return parseFloat( x );
    },
    "percent-asc": function ( a, b ) {
        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
    },
    "percent-desc": function ( a, b ) {
        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
    }
});
$(function(){
  $('.tip').tooltip({'html': true});
  $('.table-sorted').dataTable({"bPaginate": false, "bInfo": false, "bFilter": false});
});
</script>
{% block js %}{% endblock js %}
</body>
</html>
