{% extends "base.html" %}
{% load url from future %}
{% load i18n %}


{% block content %}
<h1>
    {% block title %}
        {% trans "Beer styles" %} - BJCP 2008
    {% endblock title %}
</h1>   

<div class="alert">
    Section en anglais seulement actuellement.
</div>

<table class="table">
    {% for style in object_list %}
        {% ifchanged style.category %}
            <p><br></p>
            <h3>{{ style.number }} - {{ style.category }}</h3>
        {% endifchanged %}
        
        <a href="{{ style.get_absolute_url }}">{{ style.get_number }} {{ style.name }}
        </a><br>
    {% endfor %}
</table>

{% endblock content %}