{% load i18n unit_tags %}
<tr>
    <td>
        <a href="{{ object.get_absolute_url }}">
        {% with object.color_image as image %}
            {% if image %}
                <img src="{{ MEDIA_URL }}images/beer_colors_50/{{ image }}.png" alt="{{ object.name }} beer color" style="width:50px;" width="50px" />
            {% endif %}
        {% endwith %}
        </a>
    </td>
    <td>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a> <br>
        {{ object.get_recipe_type_display }}
        {% if object.style %}
            - {{ object.style }}
        {% endif %}
    </td>
    <td>{{ object.get_abv|floatformat:1 }}%</td>
    <td>{{ object.get_ibu|floatformat:0 }} IBU</td>
    <td>{% local_unit "volume" object.batch_size 0 %}</td>
    <td>
        <a href="{% url "brew_recipe_user" object.user.username %}">{{ object.user.username }}</a> <br> 
        {{ object.created|date:"d/m/Y" }}
    </td>
</tr>
