{% extends "base.html" %}
{% load i18n unit_tags %}
{% load comments avatar_tags %}
{% load url from future %}


{% block title %}{{ object.name }}, by {{ object.user.get_full_name}}	
{% endblock title %}


{% block content %}
{% if object.get_ebc %}
	<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" class="pull-right">
	 	<a rel="gallery" title="{{ object.name }} ({% local_unit "color" object.get_ebc %})" href="{{ MEDIA_URL }}images/beer_colors/{{ object.color_image }}.png">
			<img src="{{ MEDIA_URL }}images/beer_colors_50/{{ object.color_image }}.png" alt="{{ object.name }} beer color" style="width:50px;" width="50px" />
		</a>
		<br>
		<div class="est_abv">
	 		{% if controls.abv and can_edit %}
	 			<span class="badge badge-important tip" title="{{ controls.abv }}<br>{% trans "Style range" %} : {{ object.style.alcohol_range|join:" - " }} %">{{ object.get_abv|floatformat:1 }}%</span>
	 		{% else %}
	 			{{ object.get_abv|floatformat:1 }}%
	 		{% endif %}
	 	</div>
	</div>
{% endif %}
<h1>{{ object.name }} 
	{% if object.style %}
		<small>
			<a href="{{ object.style.get_absolute_url }}">{{ object.style }}</a>
		</small>
	{% endif %}
	{% if object.private %}<img src="{{ MEDIA_URL }}images/fugue/lock.png" alt="Private" class="tip" title="{% trans "This recipe is private" %}">{% endif %}
</h1>
<p><br></p>
<ul class="nav nav-pills">
  <li {% if page == "recipe" %}class="active"{% endif %}>
    <a href="{{ object.get_absolute_url }}">
    	<span class="icon-file {% if page == "recipe" %}icon-white{% endif %}"></span>
    	{% trans "Recipe" %}</a>
  </li>
  {% if can_edit %}
  	<li {% if page == "delete" %}class="active"{% endif %}><a href="{% url "brew_recipe_delete" object.id %}">
    	<span class="icon-remove {% if page == "delete" %}icon-white{% endif %}"></span>
  		{% trans "Delete" %}</a></li>
  	<li {% if page == "edit" %}class="active"{% endif %}><a href="{% url "brew_recipe_edit" object.id %}">
  		<span class="icon-pencil"></span>
  		{% trans "Edit" %}</a></li>
  {% endif %}

  {% get_comment_count for object as comment_count %}
  <li
  	{% if page == "comments" %}class="active"{% endif %}
  ><a href="{% url "brew_recipe_comments" object.pk %}">
  	<span class="icon-comment {% if page == "comments" %}icon-white{% endif %}"></span>
  	{% trans "Comments" %} ({{ comment_count }})</a></li>
  <li><a href="{% url "brew_recipe_print" object.pk %}" target="_blank">
  	<span class="icon-print"></span>
  	{% trans "Print" %}</a></li>
  <li><a href="{% url "brew_recipe_text" object.pk %}" target="_blank">
  	<span class="icon-list"></span>
  	{% trans "Copy (txt)" %}</a></li>
</ul>


{% block inner_content %}
<div class="well">
	<div class="row">
		<div class="span6">
			<b>{% trans "Type" %}</b> : {{ object.get_recipe_type_display }}
		</div>
		<div class="span5">
			<b>{% trans "Created date" %}</b> : {{ object.created|date }}
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<b>{% trans "Batch size" %}</b> : {% local_unit "volume" object.batch_size 0 %}
		</div>
		<div class="span5">
			<b>{% trans "Created by" %}</b> : <a href="{% url "brew_recipe_user" object.user.username %}">{{ object.user.username }}</a>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<b>{% trans "Est. original gravity" %}</b> : 
			{% if controls.og %}
				<span class="badge badge-important tip" title="{{ controls.og }}<br>{% trans "Style range" %} : {{ object.style.og_range|join:" - " }}">{{ object.get_original_gravity }}</span>
			{% else %}
				{{ object.get_original_gravity }}
			{% endif %}
			<br>
			<b>{% trans "Est. final gravity" %}</b> : 
			{% if controls.fg %}
				<span class="badge badge-important tip" title="{{ controls.fg }}<br>{% trans "Style range" %} : {{ object.style.fg_range|join:" - " }}">{{ object.get_final_gravity }}</span>
			{% else %}
				{{ object.get_final_gravity }}
			{% endif %}

		</div>
		<div class="span5">
			<b>IBU</b> :
			{% if controls.ibu %}
				<span class="badge badge-important tip" title="{{ controls.ibu }}<br>{% trans "Style range" %} : {{ object.style.ibu_range|join:" - " }} IBU">{{ object.get_ibu }}</span>
			{% else %}
				{{ object.get_ibu }}
			{% endif %}

			<br>
			<b>{% trans "Color" %}</b> : 
			{% if controls.color %}
				<span class="badge badge-important tip" title="{{ controls.color }}<br>{% trans "Style range" %} : {{ object.style.color_range|join:" - " }} EBC">{% local_unit "color" object.get_ebc %}</span>
			{% else %}
				{% local_unit "color" object.get_ebc %}
			{% endif %}


			
		</div>

	</div>
</div>

<p><br></p>

<h2>{% trans "Ingredients" %}</h2>

<div class="row">
	<div class="span10">
		{% include "brew/recipe_ingredients.html" %}
	</div>
	<div class="span2">
		<ul class="nav nav-list ingredient-list">
			{% if object.user == request.user %}
				<li
				{% if not object.recipemalt_set.all and not object.recipehop_set.all and not object.recipemisc_set.all %}
					class="popover-menu nav-header" 
					title="{% trans "Add ingredient" %}" 
					data-content="{% trans "Start adding ingredients with this menu" %}"
				{% else %}
					class="nav-header" 
				{% endif %}

				>{% trans "Add" %}</li>
				<li><a data-toggle="modal" href="#add_grain"><img src="{{ MEDIA_URL }}images/icon_grain.png" alt="Grain icon"> &nbsp;{% trans "Grain" %}</a></li>
				<li><a data-toggle="modal" href="#add_hop"><img src="{{ MEDIA_URL }}images/icon_hop.png" alt="Hop icon"> {% trans "Hop" %}</a></li>
				<li><a data-toggle="modal" href="#add_misc"><img src="{{ MEDIA_URL }}images/icon_misc.png" alt="Misc icon">&nbsp;{% trans "Misc" %}</a></li>
				<li><a data-toggle="modal" href="#add_yeast">
					<img src="{{ MEDIA_URL }}images/icon_yeast.png" alt="Yeast icon">&nbsp;{% trans "Yeast" %}</a></li>
			{% endif %}
		</ul>
	</div>
</div>
<hr>
<div class="row">
	<div class="span10">
		<h2>{% trans "Mash detail" %}</h2>
		{% include "brew/recipe_mashsteps.html" %}
	</div>
	<div class="span2">
		<ul class="nav nav-list ingredient-list">
			{% if object.user == request.user %}
				<li class="nav-header">{% trans "Mash" %}</li>
				<li><a data-toggle="modal" href="#add_mash">
				<a href="#doform" class="edit_ingredient" data-toggle="modal" data-url="{% url "brew_mash_add" object.id %}">
					<img src="{{ MEDIA_URL }}images/icon_flame.png" alt="Mash step"> {% trans "Add mash step" %}</a>
				</li>
			{% endif %}
	</div>
</div>

{% include "brew/modal_ingredients.html" %}

<div class="modal hide fade" id="doform">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
      	<h3><span></span></h3>
  </div>
  <div class="modal-body">
    <div id="xhr_form"></div>
  </div>
  <div class="modal-footer">
    <a href="#" id="model_edit_submit" class="btn btn-primary">{% trans "Save" %}</a>
  </div>
</div>


<p><hr></p>

{% endblock inner_content %}


{% endblock content %}






{% block js %}
{% if object.user == request.user %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
	<script type="text/javascript">
	function reload_page(){
		document.location.href = ".";
	}

	function handleResponse(responseText, statusText, xhr, $form){
		is_valid = parseInt(responseText.valid);
		if (is_valid == 1){
			reload_page();
		}else{
			$('.error_frame').html("");
			for(i=0; i<responseText.errors.length; i++){
				error = responseText.errors[i];
				$('.error_frame').append(error);
				$('.error_frame').addClass("alert");
				$('.error_frame').addClass("alert-error");
			}
		}
	}

	function show_ajax_form(html){
		$("#xhr_form").html(html);
	}

	function load_ajax_form(elmt){
		$("#doform h3 span").text(elmt.text());
		form_url = elmt.attr('data-url');
		$.get(form_url, function(html){
			show_ajax_form(html);
			$("#model_edit_submit").click(function(){
				send_ajax_form();
			});
		});
	}

	function send_ajax_form(elmt){
		form_id = "id_ingredient_form";
		form = $("#"+form_id);
		url = form.attr("action");
		$.ajax({
			type: "POST",
			url: url,
			data: $('#' + form_id).serialize(),
			success: function(data, textStatus, jqXHR){
				if(jqXHR.status == 202){
					reload_page();
				}else if (jqXHR.status == 200){
					show_ajax_form(data);
				}
			}
		});
	}

	$(document).ready(function() { 
	    $('.ajaxform').ajaxForm({success: handleResponse});
	    $('.modal').on('shown', function(){
	    	$(this).find('input.quicksearch:first').focus();
	    });
	    $("#search_grain").quicksearch('table#table_grain tbody tr');
	    $("#search_hop").quicksearch('table#table_hop tbody tr');
	    $("#search_misc").quicksearch('table#table_misc tbody tr');
	    $("#search_yeast").quicksearch('table#table_yeast tbody tr');
	    $('.popover-menu').popover({placement:'left'}).popover('show');
	    $('.edit_ingredient').click(function(){
			load_ajax_form($(this));
		});
		$("#doform form input").live("keypress", function(e){
			if(e.keyCode == 13) {
		        $("#model_edit_submit").click();
		    }
		});

	    $('#table_grain').dataTable({
	        "bPaginate": false, "bInfo": false, "bFilter": false, 
	        "aoColumns": [
	            null,
	            null,
	            null,
	            null,
	            null,
	            {"sType": "percent",},
	        ]
	    }).addClass('table-sorted');
	    $('.select-hop').click(function(){
	    	$("#id_acid_alpha").val($(this).attr("data-acid-alpha"));
	    });
	    $('.select-malt').click(function(){
	    	$("#id_color").val($(this).attr("data-color"));
	    });
	});
	</script>
{% endif %}
<script type="text/javascript">
$(document).ready(function() { 
	i=0;
	$('.position').each(function(){
		i++; $(this).text(i);
	});
});
</script>
{% endblock js %}



{% block extrahead %}
	<style type="text/css">
	.error_frame{
		text-align:left;
	}
	.inline_field input[type="text"]{width:30px;}
	.inline_field select{width:80px}
	#id_comment{height:70px;width:500px;}
	</style>
{% endblock extrahead %}