{% extends "brew/recipe_detail.html" %}
{% load i18n %}

{% block inner_content %}
    <form action="." method="POST" class="form-horizontal">{% csrf_token %}
        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label for="{{ field.auto_id }}" class='control-label'>{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    {% if field.help_text %}
                        <span class="help-inline">{{ field.help_text }}</span>
                    {% endif %}
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <div class="form-actions">
            <input type="submit" class='btn' value="{% trans "Save" %}" />
        </div>
    </form>
{% endblock inner_content %}


{% block extrahead %}
{{ block.super }}
<style type="text/css">
#id_mash_tun_deadspace,
#id_boiler_tun_deadspace, 
#id_evaporation_rate,
#id_grain_temperature{
    width:80px;
}

</style>
{% endblock extrahead %}