{% extends "base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}


{% block title %}
{% if user_recipe %}
	{% blocktrans with user_recipe.username as name%}{{ name }} recipes{% endblocktrans %}
{% else %}
	{% trans "Your beer recipe online, for homebrewer" %}
{% endif %}
{% endblock title %}


{% block content %}
<h1>
	{% if user_recipe %}
		{% blocktrans with user_recipe.username as name%}{{ name }} recipes{% endblocktrans %}
	{% else %}
		{% trans "Last recipes" %}
	{% endif %}
</h1>

<p><br></p>

{% if search_form %}
	<div class="panel round">
		<form action="." method="GET" class='no-margin'>
			<div class="row">
				<div class="large-6 columns">
					<b>{% trans "Search" %}</b> <small><i>({% trans "Recipe name, hop, malt, yeast, username..." %})</i></small><br>
					{{ search_form.q }}
					
				</div> 
				<div class="large-4 columns">
					<b>{% trans "Style" %}</b><br>
					{{ search_form.style }}
				</div>
				<div class="large-2 columns">
					&nbsp;<br>
					<input type="submit" value="{% trans "Search" %}" class='button small'/>
				</div>
			</div>
		</form>
	</div>
{% endif %}

<div class="vspace"></div>

{% for object in object_list %}
	{% include "brew/recipe_list_row.html" %}
{% empty %}
	{% if search_form %}
		<div data-alert class="alert-box info round">{% trans "No recipe found :(" %}</div>
	{% endif %}
{% endfor %}


{% endblock content %}
