{% extends "base.html" %}
{% load i18n unit_tags increment %}
{% load comments avatar_tags %}
{% load url from future %}


{% block title %}{{ object.name }}, by {{ object.user.get_full_name}}	
{% endblock title %}


{% block content %}
{% if object.get_ebc %}
	<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" class="pull-right">
	 	<a rel="gallery" title="{{ object.name }} ({% local_unit "color" object.get_ebc %})" href="{{ MEDIA_URL }}images/beer_colors/{{ object.color_image }}.png">
			<img src="{{ MEDIA_URL }}images/beer_colors/{{ object.color_image }}.png" alt="" style="width:50px;" >
		</a>
		<br>
		<div class="est_abv">
	 		{{ object.get_abv|floatformat:1 }}%
	 	</div>
	</div>
{% endif %}
<h1>{{ object.name }} 
	{% if object.style %}<small>{{ object.style}}</small>{% endif %}
	{% if object.private %}<img src="{{ MEDIA_URL }}images/fugue/lock.png" alt="Private" class="tip" title="{% trans "This recipe is private" %}">{% endif %}
</h1>
<p><br></p>
<ul class="nav nav-pills">
  <li {% if page == "recipe" %}class="active"{% endif %}>
    <a href="{{ object.get_absolute_url }}">{% trans "Recipe" %}</a>
  </li>
  {% if object.user == request.user %}
  	<li {% if page == "preferences" %}class="active"{% endif %}><a href="{% url "brew_recipe_preferences" object.id %}">{% trans "Preferences" %}</a></li>
  	<li {% if page == "delete" %}class="active"{% endif %}><a href="{% url "brew_recipe_delete" object.id %}">{% trans "Delete" %}</a></li>
  	<li {% if page == "edit" %}class="active"{% endif %}><a href="{% url "brew_recipe_edit" object.id %}">{% trans "Edit" %}</a></li>
  {% endif %}

  <li><a href="{% url "brew_recipe_print" object.pk %}" target="_blank">{% trans "Print" %}</a></li>
  <li><a href="{% url "brew_recipe_text" object.pk %}" target="_blank">{% trans "Copy (txt)" %}</a></li>

</ul>
{% block inner_content %}
	

<div class="well">
	<div class="row">
		<div class="span6">
			<b>{% trans "Type" %}</b> : {{ object.get_recipe_type_display }}
		</div>
		<div class="span5">
			<b>{% trans "Created date" %}</b> : {{ object.created|date }}
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<b>{% trans "Batch size" %}</b> : {% local_unit "volume" object.batch_size 0 %}
		</div>
		<div class="span5">
			<b>{% trans "Created by" %}</b> : {{ object.user.get_full_name }}
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<b>{% trans "Est. original gravity" %}</b> : {{ object.get_original_gravity }} <br>
			<b>{% trans "Est. final gravity" %}</b> : {{ object.get_final_gravity }}
			
		</div>
		<div class="span5">
			<b>IBU</b> : {{ object.get_ibu }} <br>
			<b>{% trans "Color" %}</b> : {% local_unit "color" object.get_ebc %}
		</div>

	</div>
</div>

<p><br></p>

<h2>{% trans "Ingredients" %}</h2>
<div class="row">
	<div class="span10">
		<table class='table'>
			<thead>
				<tr>
					<th>{% trans "Amount" %}</th>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Type" %}</th>
					<th>#</th>
					<th>%/IBU</th>
					{% if object.user == request.user %}
					<th class="action_col">{% trans "Actions" %}</th>
					{% endif %}
				</tr>
			</thead>


		{% for malt in object.recipemalt_set.all %}
			<tr>
				<td>
					<img src="{{ MEDIA_URL }}images/icon_grain.png" alt="Grain icon">&nbsp;
					{% local_unit "weight" malt.amount 0 %}
				</td>
				<td>

					{% if object.user == request.user %}
					<a href="#doform" class="edit_ingredient" data-toggle="modal" data-url="{% url "brew_recipe_editingredient" object.id "malt" malt.id %}">
					{% endif %}
					{{ malt.name }} ({% local_unit "color" malt.color %})
					{% if object.user == request.user %}</a>{% endif %}

				</td>
				<td>{{ malt.get_malt_type_display }}</td>
				<td><span class="position"></span></td>
				<td>{{ malt.percent }}%</td>
				{% if object.user == request.user %}<td>
					<a href="{% url "brew_recipe_removeingredient" object.id "malt" malt.id %}">{% trans "Delete" %}</a>
				</td>{% endif %}
			</tr>
		{% empty %}
			&nbsp;
		{% endfor %}

		{% for hop in object.recipehop_set.all %}
			<tr>
				<td>
					<img src="{{ MEDIA_URL }}images/icon_hop.png" alt="Hop icon">&nbsp;
					{% local_unit "hop" hop.amount 0 %}
				</td>
				<td>
					{% if object.user == request.user %}<a href="#doform" class="edit_ingredient" data-toggle="modal" data-url="{% url "brew_recipe_editingredient" object.id "hop" hop.id %}">
					{% endif %}
					{{ hop.name }} ({{ hop.acid_alpha }}%) - {{ hop.get_usage_display }} {{ hop.unit_time }}
					{% if object.user == request.user %}</a>{% endif %}

				</td>
				<td>{% trans "Hop" %}</td>
				<td><span class="position"></span></td>
				<td>{{ hop.ibu|floatformat:1 }} IBU</td>
				{% if object.user == request.user %}<td><a href="{% url "brew_recipe_removeingredient" object.id "hop" hop.id %}">{% trans "Delete" %}</a></td>{% endif %}
			</tr>
		{% endfor %}
		
		{% for misc in object.recipemisc_set.all %}
			<tr>
				<td><img src="{{ MEDIA_URL }}images/icon_misc.png" alt="Misc icon">&nbsp;
					{% local_unit "hop" misc.amount 0 %}
				</td>
				<td>
					{% if object.user == request.user %}<a href="#doform" class="edit_ingredient" data-toggle="modal" data-url="{% url "brew_recipe_editingredient" object.id "misc" misc.id %}">
					{% endif %}
					{{ misc.name }} - {{ misc.get_use_in_display }} {{ misc.time }} {{ misc.time_unit }}
					{% if object.user == request.user %}</a>{% endif %}
				</td>
				<td>{{ misc.get_misc_type_display }}</td>
				<td><span class="position"></span></td>
				<td>---</td>
				{% if object.user == request.user %}<td><a href="{% url "brew_recipe_removeingredient" object.id "misc" misc.id %}">{% trans "Delete" %}</a></td>{% endif %}
			</tr>
		{% endfor %}

		{% for yeast in object.recipeyeast_set.all %}
			<tr>
				<td><img src="{{ MEDIA_URL }}images/icon_yeast.png" alt="Yeast icon">&nbsp;
					Yeast
				</td>
				<td>
					{% if object.user == request.user %}<a href="#doform" class="edit_ingredient" data-toggle="modal" data-url="{% url "brew_recipe_editingredient" object.id "yeast" yeast.id %}">
					{% endif %}
					{{ yeast.product_id }} {{ yeast.name }} - {{ yeast.laboratory }}
					{% if object.user == request.user %}</a>{% endif %}
				</td>
				<td>{% trans "Yeast" %}</td>
				<td><span class="position"></span></td>
				<td>-</td>
				{% if object.user == request.user %}<td><a href="{% url "brew_recipe_removeingredient" object.id "yeast" yeast.id %}">{% trans "Delete" %}</a></td>{% endif %}
			</tr>
		{% endfor %}
		</table>

	</div>
	<div class="span2">



		<ul class="nav nav-list ingredient-list">
			{% if object.user == request.user %}
				<li
				{% if not object.recipemalt_set.all and not object.recipehop_set.all and not object.recipemisc_set.all %}
					class="popover-menu nav-header" 
					title="{% trans "Add ingredient" %}" 
					data-content="{% trans "Start adding ingredients with this menu" %}"
				{% else %}
					class="nav-header" 
				{% endif %}

				>{% trans "Add" %}</li>
				<li><a data-toggle="modal" href="#add_grain"><img src="{{ MEDIA_URL }}images/icon_grain.png" alt="Grain icon"> &nbsp;{% trans "Grain" %}</a></li>
				<li><a data-toggle="modal" href="#add_hop"><img src="{{ MEDIA_URL }}images/icon_hop.png" alt="Hop icon"> {% trans "Hop" %}</a></li>
				<li><a data-toggle="modal" href="#add_misc"><img src="{{ MEDIA_URL }}images/icon_misc.png" alt="Misc icon">&nbsp;{% trans "Misc" %}</a></li>
				<li><a data-toggle="modal" href="#add_yeast">
					<img src="{{ MEDIA_URL }}images/icon_yeast.png" alt="Yeast icon">&nbsp;{% trans "Yeast" %}</a></li>
			{% endif %}
		</ul>
	</div>
</div>
<hr>
<div class="row">
	<div class="span10">
		<h2>{% trans "Mash detail" %}</h2>
		<table class="table">
			<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Step temperature" %}</th>
					<th>{% trans "Step time" %}</th>
					{% if object.user == request.user %}<th class="action_col">{% trans "Actions" %}</th>{% endif %}
				</tr>
			</thead>
			{% for mash in object.mashstep_set.all %}
				<tr>
						<td>
							<img src="{{ MEDIA_URL }}images/icon_flame.png" alt="Mash step">
							{{ mash.name }}
							({{ mash.get_step_type_display }})
						</td>
						<td>
							<a class="edit_ingredient" href="#doform" data-toggle="modal" data-url="{% url "brew_mash_edit" object.id mash.id %}">
							{% if mash.water_added %}
								{% trans "Add" %} {% local_unit "volume" mash.water_added 0 %} {% trans "of water" %}.
							{% endif %}

							{% if forloop.first %}
								{% trans "Heat over" %} <b>{% local_unit "temperature" mash.initial_heat 0 %}</b>
							{% else %}
								{% trans "Heat over" %} {% local_unit "temperature" mash.temperature 0 %}
							{% endif %}
							</a>
						</td>
						<td>
							{% local_unit "temperature" mash.temperature 0 %}
						</td>
						<td>
							{{ mash.step_time }} min
						</td>
						{% if object.user == request.user %}<td>
							<a href="{% url "brew_mash_delete" object.id mash.id %}">{% trans "Delete" %}</a>
						</td>{% endif %}
					</tr>
				{% if forloop.last %}
					<tr>
						<td>
							<img src="{{ MEDIA_URL }}images/icon_filter.png" alt="Mash step">
							{% trans "Filtering" %}</td>
						<td></td>
						<td></td>
						<td></td>
						{% if object.user == request.user %}<td></td>{% endif %}
					</tr>
					<tr>
						<td>
							<img src="{{ MEDIA_URL }}images/icon_water.png" alt="Mash step">

							{% trans "Fly sparge" %}</td>
						<td colspan="3">
							{% trans "Fly sparge with" %} {% local_unit "volume" object.water_sparge 0 %} {% trans "of water at" %} {% local_unit "temperature" 75.6 0 %}
						</td>
						{% if object.user == request.user %}<td></td>{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
	<div class="span2">
		<ul class="nav nav-list ingredient-list">
			{% if object.user == request.user %}
				<li class="nav-header">{% trans "Mash" %}</li>
				<li><a data-toggle="modal" href="#add_mash">

				<a href="#doform" class="edit_ingredient" data-toggle="modal" data-url="{% url "brew_mash_add" object.id %}">
					<img src="{{ MEDIA_URL }}images/icon_flame.png" alt="Mash step"> {% trans "Add mash step" %}</a>
				</li>
			{% endif %}
	</div>
</div>

{% include "brew/modal_ingredients.html" %}

<div class="modal hide fade" id="doform">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
      	<h3><span></span></h3>
  </div>
  <div class="modal-body">
    <div id="xhr_form"></div>
  </div>
  <div class="modal-footer">
    <a href="#" id="model_edit_submit" class="btn btn-primary">{% trans "Save" %}</a>
  </div>
</div>


<p><hr></p>

<h2>{% trans "Comments" %}</h2>
{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
	<div class="well {% if object.user != comment.user %}well_light{% endif %}">
		<p class='small'>
			<a href="{% url "brew_recipe_user" comment.user.username %}" class="nolink"><b>{{ comment.user.get_full_name }}</b></a>
			{{ comment.submit_date|date }}
			</p>
		<div class="row">
			<div class="span1">
				{% avatar comment.user 60 %}
			</div>
			<div class="span10">
				<p>{{ comment.comment|linebreaksbr }}</p>
			</div>
		</div>
	</div>
{% endfor %}
<div id="btm"></div>
{% if request.user.is_authenticated %}
	{% get_comment_form for object as form %}
	  <form action="{% comment_form_target %}" method="post" class='form'>{% csrf_token %}
	  	{% for field in form %}
	  		{% if field.name == "comment" %}
	  		<div class="control-group {% if field.errors %}error{% endif %}">
	  			<label for="{{ field.auto_id }}" class='control-label'>{{ field.label }}</label>
	  			<div class="controls">
	  				{{ field }}
	  				{% if field.help_text %}
	  					<span class="help-inline">{{ field.help_text }}</span>
	  				{% endif %}
	  				{{ field.errors }}
	  			</div>
	  		</div>
			{% else %}
				<div style="display:none;">{{ field }}</div>
			{% endif %}
	  	{% endfor %}
	  	<input type="submit" class='btn' value="{% trans "Send" %}">
	  	<input type="hidden" name="next" value="{{ request.path }}#btm">
	  </form>
{% endif %}

{% endblock inner_content %}


{% endblock content %}






{% block js %}
{% if object.user == request.user %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
	<script type="text/javascript">
	function reload_page(){
		document.location.href = ".";
	}

	function handleResponse(responseText, statusText, xhr, $form){
		is_valid = parseInt(responseText.valid);
		if (is_valid == 1){
			reload_page();
		}else{
			$('.error_frame').html("");
			for(i=0; i<responseText.errors.length; i++){
				error = responseText.errors[i];
				$('.error_frame').append(error);
				$('.error_frame').addClass("alert");
				$('.error_frame').addClass("alert-error");
			}
		}
	}

	function show_ajax_form(html){
		$("#xhr_form").html(html);
	}

	function load_ajax_form(elmt){
		$("#doform h3 span").text(elmt.text());
		form_url = elmt.attr('data-url');
		$.get(form_url, function(html){
			show_ajax_form(html);
			$("#model_edit_submit").click(function(){
				send_ajax_form();
			});
		});
	}

	function send_ajax_form(elmt){
		form_id = "id_ingredient_form";
		form = $("#"+form_id);
		url = form.attr("action");
		$.ajax({
			type: "POST",
			url: url,
			data: $('#' + form_id).serialize(),
			success: function(data, textStatus, jqXHR){
				if(jqXHR.status == 202){
					reload_page();
				}else if (jqXHR.status == 200){
					show_ajax_form(data);
				}
			}
		});
	}

	$(document).ready(function() { 
	    $('.ajaxform').ajaxForm({success: handleResponse});
	    $('.modal').on('shown', function(){
	    	$(this).find('input.quicksearch:first').focus();
	    });
	    $("#search_grain").quicksearch('table#table_grain tbody tr');
	    $("#search_hop").quicksearch('table#table_hop tbody tr');
	    $("#search_misc").quicksearch('table#table_misc tbody tr');
	    $("#search_yeast").quicksearch('table#table_yeast tbody tr');
	    $('.popover-menu').popover({placement:'left'}).popover('show');
	    $('.edit_ingredient').click(function(){
			load_ajax_form($(this));
		});
		$("#doform form input").live("keypress", function(e){
			if(e.keyCode == 13) {
		        $("#model_edit_submit").click();
		    }
		});
	});
	</script>
{% endif %}
<script type="text/javascript">
$(document).ready(function() { 
	i=0;
	$('.position').each(function(){
		i++; $(this).text(i);
	});
});
</script>
{% endblock js %}



{% block extrahead %}
	<style type="text/css">
	.error_frame{
		text-align:left;
	}
	.inline_field input[type="text"]{width:30px;}
	.inline_field select{width:80px}
	#id_comment{height:70px;width:500px;}
	</style>
{% endblock extrahead %}