{% extends "base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}



{% block content %}
<h1>
	{% block title %}
	{% if user_recipe %}
		{% blocktrans with user_recipe.username as name%}{{ name }} recipes{% endblocktrans %}
	{% else %}
		{% trans "Last recipes" %}
	{% endif %}
{% endblock title %}
</h1>

<p><br></p>

{% if search_form %}
	<div class="well">
		<form action="." method="GET">
			<div class="row">
				<div class="span5">
					<b>{% trans "Search" %}</b> <small><i>({% trans "Recipe name, hop, malt, yeast, username..." %})</i></small><br>
					{{ search_form.q }} <br>
					
				</div>
				<div class="span3">
					<b>{% trans "Style" %}</b><br>
					{{ search_form.style }}
				</div>
				<div class="span2">
					&nbsp;<br>
					<input type="submit" value="{% trans "Search" %}" class='btn'/>
				</div>
			</div>
		</form>
	</div>
{% endif %}

<table class='table'>
	<thead>
		<tr>
			<th>{% trans "Name" %}</th>
			<th>{% trans "Style" %}</th>
			<th>{% trans "Type" %}</th>
			<th>{% trans "Info" %}</th>
			<th>{% trans "Created" %}</th>
			<th>{% trans "Brewer" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		<tr>
			<td>
				<a href="{{ object.get_absolute_url }}">
				<b>{{ object.name }}</b>
				</a>
				{% if object.private %}
					<img src="{{ MEDIA_URL }}images/fugue/lock.png" alt="Private" class="tip" title="{% trans "This recipe is private" %}">
				{% endif %}
			</td>
			<td>
				{% if object.style %}
					{{ object.style }}
				{% else %}
					.
				{% endif %}
			</td>
			<td>
				{{ object.get_recipe_type_display }}
				
			</td>
			<td>
				{% with object.color_image as image %}
				    {% if image %}
				    	<img src="{{ MEDIA_URL }}images/beer_colors/{{ image }}.png" alt="" style="width:20px;">
				    {% endif %}
				{% endwith %}
			</td>
			<td>
				{{ object.created|date }}
			</td>
			<td>
				<a href="{% url "brew_recipe_user" object.user.username %}">
				{{ object.user.username }}
				</a>
			</td>
		</tr>
		{% empty %}
			{% if search_form %}
				<tr>
					<td colspan="6">
						<div class="alert">{% trans "No recipe found :(" %}</div>
					</td>
				</tr>
			{% endif %}
		{% endfor %}

	</tbody>
</table>
{% endblock content %}
