{% load i18n %}
<div class="hero-unit">
    <h1>{% trans "Invitation mode" %}</h1>
    {% blocktrans %}
    <p>
        <br><br>
        <b>Welcome to 2beer !</b> <br>
        2Beer is an <b>online software to help homebrewer</b> creating and sharing their recipes. 
        <br>&nbsp;
    </p>
    <p>
        It focuses on : 
        <ul>
            <li>Being free</li>
            <li>Keeping things dead simple</li>
            <li>Displaying technical informations for your language and your units</li>
            <li>Getting the most of the community for later updates</li>
        </ul>
    </p>
    <p>
        ...but actually require an invitation to register.
    </p>
    {% endblocktrans %}

    <hr>
    <div class="center">
        <a href="{% url auth_login %}" class="btn">{% trans "Log in" %}</a>
    </div>
</div>